*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.upper-section{
    padding-bottom: 20px;
}

.cell-style{
    background-color: cornflowerblue;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 50px;
}

.nested-cell-style{
    background-color: lightgreen;
    margin: 1px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}