*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.cell-style{
    background-color: cornflowerblue;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

